.pagetitle {
    color: #00802e;
    font-family: fantasy;
    text-align: center;
}
.footer-text{
    font-family: monospace;
}

th {
    background-color: #1fc1f2;
    color: white;
}

th, td {
    padding: 15px;
    text-align: center;
}
tr{font-size: 100%}
tr:nth-child(even) {background-color: #bff290;}
tr:nth-child(odd) {background-color: #b2f7c9;}
a{
    text-decoration: none;
    color: #0f2926;
}
a:hover{
    text-decoration: underline;
    color: #db1b18
}
h1{
    font-size: 700%;
}
body{
    background-color: #f8ffd6;
}
 @media only screen and (max-width:400px){ 
    tr{font-size: 60%;}
     h1{font-size: 400%}    
        }