<html>
  <head>
    <title>Campy</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Campy</h1>
        <h3>Campground Alerts</h3>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="site_url">Campground URL:</label>
          <input type="url" name="tracker_url"><br /><br />
          <label for="name">Name (Last, First):</label>
          <input type="text" name="name"><br /><br />
          <label for="email">Email address:</label>
          <input type="email" name="email"><br /><br />
          
          <label for="frequency">Frequency:</label>
          <select name="frequency">
            <option>Daily</option>
            <option selected="yes">Weekly</option>
            <option>Monthly</option>
            <option>Never</option>
          </select><br /><br />    

          <label for="alerts">Enable Alerts?</label>
          <input type="radio" id="alertChoiceYes" name="alerts" value="Yes">
          <label for="alertChoice1">Yes</label>
          <input type="radio" id="alertChoiceNo" name="alerts" value="No" checked>
          <label for="alertChoice2">No</label><br /><br />

          <input type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </body>
</html>
