<html>
 <head>
   <title>Campy</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
      <h1>Campy</h1>
      <h3>Campground Alerts</h3>
    </div>
     <div id="main">
       <h4>Hi {{username}}!</h4>
       <a href="/form">Track another Campground? </a><br/>
       <p>Available Campgrounds over the next 6 months:</p>

        <table style="width:100%">
          <tr>
            <th>Campground Name</th>
            <th>Fri</th> 
            <th>Sat</th> 
          </tr>
          {% for property in properties %}
          <tr>
            <td><a href={{property.url}}>{{ property.name }}</a></td>
            <td>
              {% for available_date in property.available_dates.Fri.dates %}
                <a href={{available_date.url}}>{{available_date.date}}</a><br/>
              {% endfor %}
            </td> 
            <td>
                {% for available_date in property.available_dates.Sat.dates %}
                  <a href={{available_date.url}}>{{available_date.date}}</a><br/>
                {% endfor %}
              </td> 
            </tr>
          {% endfor %}
        </table><br/>
        <a href="/refresh?show=True">Refresh? </a><br/>
      </div>
     </div>
   </div>
 </body>
</html>
