<html>
 <head>
   <title>Campy</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
      <h1>Campy</h1>
      <h3>Campground Alerts</h3>
   </div>
     <div id="main">
       <h4>Hi {{username}}!</h4>
       <p>Campgrounds with availability on Saturdays for the next 6 months:</p>

        <table style="width:100%">
          <tr>
            <th>Park Name</th>
            <th>Available Dates</th> 
          </tr>
          {% for park in parks %}
          <tr>
            <td>{{ park.name }}</td>
            <td>
              {% for available_date in park.available_dates %}
                <a href={{available_date.url}}>{{available_date.date}}</a><br/>
              {% endfor %}
            </td> 
          </tr>
          {% endfor %}
        </table>
      </div>
     </div>
   </div>
 </body>
</html>
