<html>
 <head>
   <title>Campy</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
      <h1><b>Campy</b></h1>
      <h3>Your Place for Campground Alerts</h3>
    </div>
     <div id="main">
       <br>
       <p>Available Campgrounds over the next 6 months:</p>

        <table style="width:100%">
          <tbody><tr>
            <th>Campground Name</th>
            <th>Fri</th> 
            <th>Sat</th> 
          </tr>
          {% for property in properties %}
          <tr>
            <td><a href={{property.url}}>{{ property.name }}</a></td>
            <td>
              {% for available_date in property.available_dates.Fri.dates %}
                <a href={{available_date.url}}>{{available_date.date}}</a><br/>
              {% endfor %}
            </td> 
            <td>
                {% for available_date in property.available_dates.Sat.dates %}
                  <a href={{available_date.url}}>{{available_date.date}}</a><br/>
                {% endfor %}
              </td> 
            </tr>
          {% endfor %}
        </tbody></table><br/>
        <span>
          <div class="footer-text">
            <a href="https://campy-205806.appspot.com/form"><i>Want to track another Campground?</i></a><br>
            <a href="https://campy-205806.appspot.com/refresh?show=True"><i>Refresh?</i></a><br>
          </div></span>
     </div>
   </div>
 </body>
</html>
